{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{%static 'styles/addemp.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span>
                <span>Welcome  </span>
                <span class="ti-menu-alt"></span>
            </h3>
            
        </div>

        <div class="sidebar-menu">
            <ul>
                <li><a href="/dashboard"><span class="ti-home"></span><span> Home</span></a></li>
                <li><a href=""><span class="ti-pencil-alt"></span><span> Update Info</span></a></li>
                <li><a href=""><span class="ti-write"></span><span> Leaves</span></a></li>
                <li><a href=""><span class="fas fa-sign-out-alt"></span><span></span> Log Out</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div>
                <span class=""></span>
                <h3></h3>
            </div>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <apan class="ti-comment"></span>
            </div>
        </header>
        <main>
            <h1 class="dash-title">Add Employee</h1>
            
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4>Input Details: </h4><br>
                            <ul>
                                <li>
                                <h5>Employee Id:  </h5>
                                <h5><input type="text" id="empid" name="empid"></h5>
                                </li>

                                <li>
                                <h5>Name: </h5>
                                <h5><input type="text" id="ename" name="ename"></h5>
                                </li>

                                <li>
                                <h5>Gender: </h5>
                                <h5> <select name="gender" id="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </h5>
                                </li>

                                <li>
                                <h5>Role: </h5>
                                <h5><input type="text" id="role" name="role"></h5>
                                </li>

                                <li>
                                <h5>Phone Number: </h5>
                                <h5><input type="number" id="phno" name="phno"></h5>
                                </li>

                                <li>
                                <h5>Email: </h5>
                                <h5><input type="email" id="email" name="email"></h5>
                                </li>

                                <li>
                                <h5>Address:</h5>
                                <h5><textarea rows="4" cols="50" id="address" name="address"></textarea></h5>
                                </li>

                                <li>
                                <h5>Image: </h5>
                                <h5><input type="file" id="img" name="image" ></h5>
                                </li>

                                <li>
                                <h5>Salary: </h5>
                                <h5><input type="text" id="salary" name="salary"></h5>
                                </li>

                                <li>
                                <h5>Leave Left: </h5>
                                <h5><input type="text" id="leaves" name="leaves"></h5>
                                </li>

                                <input type="submit" id="submitb"><br>
                                <input type="reset" value="Reset" id="resetb">
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            
        </main>
        
    </div>

                
