{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{%static 'styles/admin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span>
                <span>Welcome  </span>
                <span class="ti-menu-alt"></span>
            </h3>
            
        </div>

        <div class="sidebar-menu">
            <ul>
                
                <li><a href="/add_emp"><span class="ti-pencil-alt"></span><span> Add employee</span></a></li>
                <li><a href=""><span class="ti-write"></span><span> Leaves</span></a></li>
                <li><a href="/password_change"><span class="ti-write"></span><span> Change Password</span></a></li>
                <li><a href="/logout"><span class="fas fa-sign-out-alt"></span><span></span> Log Out</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div>
                <span class=""></span>
                <h3>Welcome,{{details.0.name}} to Employee Management System</h3>
            </div>
        </header>
        <main>
            <h1 class="dash-title">Overview</h1>
            
            <img src={{details.0.img.url}}>
            
            <br> <br>
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h4>Personal Details</h4><br>
                            <ul>
                                
                                <h5>Id: </h5>
                                <h5>{{details.0.empid}}</h5>
                                </li>

                                <li>
                                <h5>Role: </h5>
                                <h5>{{details.0.role}}</h5>
                                </li>

                                <li>
                                <h5>Phone Number: </h5>
                                <h5>{{details.0.phone}}</h5>
                                </li>

                                <li>
                                <h5>Email: </h5>
                                <h5>{{details.0.email}}</h5>
                                </li>

                                <li>
                                <h5>Salary: </h5>
                                <h5>{{details.0.salary}}</h5>
                                </li>

                                <li>
                                <h5>Leave Left: </h5>
                                <h5>{{details.0.leaves}}</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <br> <br>
            <div class=" row tbl">
                <h1 style=" color:rgb(255, 250, 250);background-color:#027581;opacity:0.7;"><span style="margin-left:10px;"class="ti-user"> Employee Details</h1>
                    <table>
                    <tr>
                        <th>Image</th>
                        <th>Empid</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Salary</th>
                        <th>Update/Delete Details</th>
                    </tr>
                    {% for row in table %}
                        <tr>
                        
                            <td class ="colimg1"><img src={{row.img.url}}></td>
                            <td>{{row.empid}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.role}}</td>
                            <td>{{row.phone}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.address}}</td>
                            <td>{{row.salary}}</td>
                            <td>
                                <a href="/update/{{row.empid}}">Edit</a>  
                                <a href="/delete/{{row.empid}}">Delete</a>  
                            </td>
                                    
                        </tr>
                    
                    {% endfor %}
                    </table>
                
            </div>
            
        </main>
        
    </div>

                
