:root {
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: white;
    padding: 1rem;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 0.6rem;
}

.sidebar-menu {
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 1.2rem;
}

.sidebar a {
    color: #fff;
    font-size: 1rem;
}

.sidebar a span:first-child {
    padding-left: 2rem;
}

.sidebar a span:last-child {
    padding-left: 0.5rem;
}

.main-content {
    position: relative;
    margin-left: 240px;
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

main {
    margin-top: 60px;
    background: rgb(231, 224, 224);
    min-height: 90vh;
    padding: 1rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 3rem;
    margin-left: 45%;
}

.dash-cards {
    width: 60%;
    height: 50%;
    margin-left: 4cm;
    display: grid;
    border: 5px solid;
    border-radius: 5%;
    border-color: var(--main-color);
}

.card-single {
    background: #fff;
    border-radius: 7px;
}

.card-body {
    padding: 1rem;
    display: flex;
}

img {
    height: 8cm;
    width: 8cm;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: var(--main-color);
    float: right;
}

.tbl {
    width: 80%;
    overflow: auto;
    margin-left: 10%;
}

table {
    border: 2px solid #027581;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid black;
    width: 300px;
    height: 60px;
    overflow: hidden;
    padding: 20px;
}

.card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.8rem;
}

.card-body h5 {
    color: var(--text-grey);
    font-size: 1.5rem;
    margin-top: .4rem;
    display: inline-block;
}

.card-body h5:last-child {
    color: var(--color-dark);
    font-size: 1.5rem;
    margin-left: 3rem;
}